@page
@model SecondSemesterProject.Pages.Members.FamilyGroupModel
@{
    ViewData["Title"] = "Familiegruppe";
}

<p>@Model.InfoText</p>

<p>
    <a asp-page="/Members/FamilyGroups/UpdateFamilyGroup" asp-route-id="@Model.FamilyGroupID" class="btn btn-primary">Opdater familiegruppe</a>
</p>

<h4>Familiegruppe nummer: @Model.FamilyGroupID</h4>

<table class="table">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Billede
        </th>
        <th>
            Navn
        </th>
        <th>
            E-mail
        </th>
        <th>
            Telefonnummer
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Members)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                <img src="~/Images/@item.ImageFileName" width="64" height="64" />
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.PhoneNumber
            </td>
        </tr>
    }
</table>