@page
@model SecondSemesterProject.Pages.ShiftTypes.DeleteShiftTypeModel
@{
    ViewData["Title"] = "Slet Vagttype";
}

<h1>Slet vagttype</h1>


<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.shiftType.Name">Vagttype: </label>
                <label asp-for="@Model.shiftType.Name">@Model.shiftType.Name</label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.shiftType.Color">Farve: </label>
                <label asp-for="@Model.shiftType.Color">@Model.shiftType.Color</label>
            </div>
            <div class="form-group">
                <input class="btn-danger" type="submit" value="Slet"/>
                <a asp-page="/ShiftTypes/GetAllShiftType" class="btn btn-secondary">Annuller</a>
            </div>
        </form>
    </div>
</div>