@page
@using SecondSemesterProject.Models
@using SecondSemesterProject.Interfaces
@model SecondSemesterProject.Pages.Profiles.ProfileModel
@inject IShiftTypeService ShiftTypeService
@{
    ViewData["Title"] = "Min Profil";
}

<style>
    .bold {
        font-weight: bold;
    }
</style>

<p>@Model.InfoText</p>

<h1>Hej @Model.Member.Name!</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Member.ID" class="form-control" />
                <input type="hidden" asp-for="@Model.Member.FamilyGroupID" class="form-control" />
                <input type="hidden" asp-for="@Model.Member.Password" class="form-control" />
                <input type="hidden" asp-for="@Model.Member.BoardMember" class="form-control" />
                <input type="hidden" asp-for="@Model.Member.HygieneCertified" class="form-control" />
                <input type="hidden" asp-for="@Model.Member.ImageFileName" class="form-control" />
                <div>
                    <img src="~/Images/@Model.Member.ImageFileName" width="128" height="128" />
                </div>
                <div class="form-group">
                    <input type="file" asp-for="@Model.Upload" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="bold">Navn</label><br />
                    <input asp-for="@Model.Member.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="bold">E-mail</label><br />
                    <input type="email" asp-for="@Model.Member.Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="bold">Telefonnummer</label><br />
                    <input asp-for="@Model.Member.PhoneNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="bold">Bestyrelse: </label>
                    <input type="checkbox" asp-for="@Model.Member.BoardMember" />
                </div>
                <div class="form-group">
                    <label class="bold">Hygiejnekursus gennemført: </label>
                    <input type="checkbox" asp-for="@Model.Member.HygieneCertified" />
                </div>
                <div class="form-group">
                    <label class="bold">Vagttyper</label>
                    @foreach (KeyValuePair<int, bool> shiftType in Model.ShiftTypes)
                    {
                        <div class="form-group">
                            <input type="checkbox" asp-for="@Model.ShiftTypes[shiftType.Key]">
                            <label>@ShiftTypeService.GetShiftTypeAsync(shiftType.Key).Result.Name</label>
                        </div>
                    }
                    <br />
                    <input type="submit" value="Gem ændringer" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@if (Model.Member.FamilyGroupID != null)
{
    <p>
        <a asp-page="/Members/FamilyGroups/FamilyGroup" asp-route-id="@Model.Member.FamilyGroupID" class="btn btn-light">Se min familiegruppe</a>
    </p>
}