@page
@using SecondSemesterProject.Models
@using SecondSemesterProject.Interfaces
@model SecondSemesterProject.Pages.Profiles.ProfileModel
@inject IShiftTypeService ShiftTypeService
@{
    ViewData["Title"] = "Min Profil";
}

<h1>Hej @Model.Member.Name!</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div>
                <div class="form-group">
                    <label asp-for="@Model.Member.Name"></label><br />
                    <label>@Model.Member.Name</label>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Member.Email"></label><br />
                    <label>@Model.Member.Email</label>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Member.PhoneNumber"></label><br />
                    <label>@Model.Member.PhoneNumber</label>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Member.BoardMember"></label>
                    <label>@Model.Member.BoardMember</label>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Member.HygieneCertified"></label>
                    <label>@Model.Member.HygieneCertified</label>
                </div>
                <div class="form-group">
                    <label>Vagttyper</label>
                    @foreach (KeyValuePair<int, bool> shiftType in Model.ShiftTypes)
                    {
                        <div class="form-group">
                            <input type="checkbox" asp-for="@Model.ShiftTypes[shiftType.Key]">
                            <label>@ShiftTypeService.GetShiftTypeAsync(shiftType.Key).Result.Name</label>
                        </div>
                    }
                    <br />
                    <input type="submit" value="Gem ændringer" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>