@page
@using SecondSemesterProject.Models
@using SecondSemesterProject.Interfaces
@model SecondSemesterProject.Pages.Profiles.ProfileModel
@inject IShiftTypeService ShiftTypeService
@{
    ViewData["Title"] = "Min Profil";
}

<h1>Hej @Model.Member.Name!</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Member.ID" class="form-control" />
                <input type="hidden" asp-for="@Model.Member.BoardMember" class="form-control" />
                <input type="hidden" asp-for="@Model.Member.HygieneCertified" class="form-control" />
                <div><img src="~/Images/Default.jpg" width="128" height="128" /></div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input type="file" asp-for="@Model.Upload" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Navn</label><br />
                    <input asp-for="@Model.Member.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>E-mail</label><br />
                    <input type="email" asp-for="@Model.Member.Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Telefonnummer</label><br />
                    <input asp-for="@Model.Member.PhoneNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Bestyrelse: </label>
                    <input type="checkbox" asp-for="@Model.Member.BoardMember" />
                </div>
                <div class="form-group">
                    <label>Hygiejne kursus gennemført: </label>
                    <input type="checkbox" asp-for="@Model.Member.HygieneCertified" />
                </div>
                <div class="form-group">
                    <label>Vagttyper</label>
                    @foreach (KeyValuePair<int, bool> shiftType in Model.ShiftTypes)
                    {
                        <div class="form-group">
                            <input type="checkbox" asp-for="@Model.ShiftTypes[shiftType.Key]">
                            <label>@ShiftTypeService.GetShiftTypeAsync(shiftType.Key).Result.Name</label>
                        </div>
                    }
                    <br />
                    <input type="submit" value="Gem ændringer" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>