@page
@model SecondSemesterProject.Pages.Members.IndexModel
@{
    ViewData["Title"] = "Medlemmer";
}

<p>@Model.InfoText</p>

<p>
    <a asp-page="/Members/CreateMember" class="btn btn-primary">Tilføj nyt medlem</a>
</p>

<form>
    <p>
        <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Søg" class="btn btn-light" />
    </p>
</form>

<h4>Medlemmer: @Model.Members.Count</h4>

<table class="table">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Familiegruppe ID
        </th>
        <th>
            Navn
        </th>
        <th>
            E-mail
        </th>
        <th>
            Telefonnummer
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Members)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @if (item.FamilyGroupID != null)
                {
                    @item.FamilyGroupID
                }
                else
                {
                    <span>Individuel</span>
                }
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                @if (item.FamilyGroupID != null)
                {
                    <p>
                        <a asp-page="/Members/FamilyGroups/FamilyGroup" asp-route-id="@item.FamilyGroupID" class="btn btn-light">Se familiegruppe</a>
                    </p>
                }
                else
                {
                    <p>
                        <a asp-page="/Members/FamilyGroups/Index" class="btn btn-light">Tilføj til familiegruppe</a>
                    </p>
                }
            </td>
            <td>
                <p>
                    <a asp-page="/Members/UpdateMember" asp-route-id="@item.ID" class="btn btn-light">Opdater</a>
                </p>
            </td>
            <td>
                <p>
                    <a asp-page="/Members/DeleteMember" asp-route-id="@item.ID" class="btn btn-light">Slet</a>
                </p>
            </td>
        </tr>
    }
</table>
@if (!Model.ResultsFound)
{
    <p style="text-align:center">
        Ingen resultater!
    </p>
}