@page
@model SecondSemesterProject.Pages.Members.IndexModel
@{
    ViewData["Title"] = "Medlemmer";
}

<p>@Model.InfoText</p>

<p>
    <a asp-page="/Members/CreateMember">Tilføj nyt medlem</a>
</p>

<form>
    <p>
        <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Søg" />
    </p>
</form>

<h4>Medlemmer: @Model.Members.Count</h4>

<table class="table">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Family Group ID
        </th>
        <th>
            Name
        </th>
        <th>
            E-mail
        </th>
        <th>
            Password
        </th>
        <th>
            Phone Number
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Members)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @if (item.FamilyGroupID != null)
                {
                    @item.FamilyGroupID
                }
                else
                {
                    <span>None</span>
                }
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                @if (item.FamilyGroupID != null)
                {
                    <p>
                        <a asp-page="/Members/FamilyGroup/FamilyGroup" asp-route-id="@item.FamilyGroupID">Se familiegruppe</a>
                    </p>
                }
                else
                {
                    <p>
                        <a asp-page="/Members/FamilyGroup/FamilyGroup">Tilføj til familiegruppe</a>
                    </p>
                }
            </td>
            <td>
                <p>
                    <a asp-page="/Members/UpdateMember" asp-route-id="@item.ID">Opdater</a>
                </p>
            </td>
            <td>
                <p>
                    <a asp-page="/Members/DeleteMember" asp-route-id="@item.ID">Delete</a>
                </p>
            </td>
        </tr>
    }
</table>
@if (!Model.ResultsFound)
{
    <p style="text-align:center">
        No results found!
    </p>
}